@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.home__container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home__container > * {
  margin-bottom: 10px;
}
.home__header {
  margin-bottom: 30px;
}
.username__input {
  padding: 10px;
  width: 50%;
}
.home__cta {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #607EAA;
  color: #F9F5EB;
  outline: none;
  border: none;
  border-radius: 5px;
}


.chat__main {
  height: 100%;
  flex: 0.8;
}
.chat__header {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}


.__mainHeader {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
 font-size: 40px;
 font-weight: bold;
}
.leave__btn {
  padding: 10px;
  width: 150px;
  border: none;
  outline: none;
  background-color: #D1512D;
  cursor: pointer;
  color: #EAE3D2;
}


.chat__sidebar{

  display: flex;
}
.online__users{
  display: flex;
  flex-wrap: wrap;
  
}
.card{
  margin: 10px;
  margin-top: 130px;
  margin-left: 50px;
}
.emj{
text-align: center;
}
.card__content{
  background-color: rgba(0, 128, 0, 0.503);
}
.type{
  font-size: 30px;
}
.btn_like{
  text-align: center;
  background-color: #607eaa6a;
}